info
  table(border="1" cellspacing="0")
    tr
      td
        yield(from="page_id")
      td
        yield(from="visitor_type")
    tr(each={status})
      td {data}

  script.
    this.status = [
    {data: opts.pageid},
    {data: opts.visitortype}
    ]
