info
  table
    tr
      td {pageIdTitle}
      td {visitorTypeTitle}
    tr
      td {pageId}
      td {visitorType}
  script.
    this.pageIdTitle = opts.pageidtitle
    this.visitorTypeTitle = opts.visitortypetitle
    this.pageId = opts.pageid
    this.visitorType = opts.visitortype
