doctype html
html
  head
    title USERDIVE tracker
  body
    div
      div
        span ID
        input#analytics-id(type="text" name="analytics-id")
      div
        span Env
        input#env(type="text" name="env")
      div
        span Slource
        input#host(type="text" name="host")
      div
        span Ignore domains (plz split
        b line break
        | )
      button#save save
      <!-- build:js scripts/options.js -->
      script(src="scripts/options.js")
      <!-- endbuild -->
