doctype html
html
  head
    meta(lang="en")
    // build:css styles/main.css
    link(href="styles/main.css")
    // endbuild
  body
    #info
      info(v-bind:pageInfo='datas')
    // build:js scripts/bundle.js
    script(src="scripts/bundle.js")
    // endbuild
