doctype html
html
  head
    meta(lang="en")
    // build:css styles/main.css 
    link(rel="styles/main.css")
    // endbuild
    script(src="scripts/riot.csp.min.js")
    // build:js scripts/popup.js
    script(src="scripts/popup.js")
    // endbuild
  body
    info
      // build:js scripts/info.js
      script(src="scripts/info.js")
      // endbuild
