doctype html
html
  head
    meta(lang="en")
    // build:css styles/main.css
    link(href="styles/main.css")
    // endbuild
  body
    #info
      info
    // build:js scripts/popup.bundle.js
    script(src="scripts/popup.bundle.js")
    // endbuild
