doctype html
html
  head
    meta(lang="en")
    // build:css styles/main.css
    link(href="styles/main.css")
    // endbuild
    script(src="scripts/vue.min.js")
    // build:js scripts/popup.js
    script(src="scripts/popup.js")
    // endbuild
  body
    div#app
      table(border=1)
        tr(v-for="(val, key) in cookieData")
          th {{key}}
          th {{val}}
